@media screen and (min-width: 320px) {
	.deck {
		width: 320px;
		min-height: 340px;
		padding: 16px;
	}
	
	.deck .card {
		height: 60px;
		width: 60px;
	}
	
	.deck .card.show {
		font-size: 26px;
	}
	
	.deck .card.match {
		font-size: 26px;
	}
	
	.score-panel {
		width: 270px;
	}
	
	.score-panel .restart {
		margin-left: 50px;
	}
	
	.congratulation {
		font-size: 20px;
		line-height: 1.5em;
	}
}

@media screen and (min-width: 450px) {
	.deck {
		width: 420px;
		min-height: 440px;
		padding: 20px;
	}
	
	.deck .card {
		height: 80px;
		width: 80px;
	}
	
	.deck .card.show {
		font-size: 30px;
	}
	
	.deck .card.match {
		font-size: 30px;
	}
	
	.score-panel {
		width: 325px;
	}
	
	.score-panel .restart {
		margin-left: 100px;
	}
}

@media screen and (min-width: 700px) {
	.deck {
		width: 660px;
		min-height: 680px;
		padding: 32px;
	}
	
	.deck .card {
		height: 125px;
		width: 125px;
	}
	
	.deck .card.show {
		font-size: 33px;
	}
	
	.deck .card.match {
		font-size: 33px;
	}
	
	.score-panel {
		width: 345px;
	}
	
	.congratulation {
		font-size: 25px;
	}
}

